@charset "UTF-8";
.dropbtn, .modal__link, .header__link, .social__link, .footer__link {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out; }

.button {
  font-family: 'Poppins', Verdana, sans-serif; }

.button {
  display: block;
  margin: 0 auto;
  padding: 20px 33px;
  border-radius: 20px;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  line-height: 1.8;
  color: white;
  background: #f7ae02; }
  .button:hover {
    color: #d7d1d1; }

.span-color {
  color: #f7ae02; }

.dropbtn {
  width: 100%;
  color: black;
  padding: 30px 0;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  border-top: 1px solid black;
  text-align: left;
  cursor: pointer; }

.dropdown {
  position: relative;
  display: block; }

.dropdown-content {
  padding-left: 15px;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown-content a {
  color: black;
  padding: 30px 0px;
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.9;
  text-decoration: none;
  display: block; }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown:hover .dropbtn {
  color: #f7ae02; }

.modal-icon {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: black;
  display: none;
  cursor: pointer; }
  @media (max-width: 991px) {
    .modal-icon {
      display: block; } }

.modal-icon::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 5px;
  top: -10px;
  left: 0;
  background-color: black; }

.modal-icon::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 5px;
  top: 10px;
  left: 0;
  background-color: black; }

/* Active state */
.modal-icon--active {
  position: fixed;
  background-color: transparent; }

.modal-icon--active::before {
  top: 0;
  transform: rotate(45deg);
  transition: top 0.1s linear, transform 0.2s ease-in 0.1s;
  background-color: white; }

.modal-icon--active::after {
  top: 0;
  transform: rotate(-45deg);
  background-color: white;
  transition: top 0.1s linear, transform 0.2s ease-in 0.1s; }

.modal {
  padding: 50px 20px;
  position: fixed;
  top: 90px;
  right: 0px;
  width: 50%;
  height: auto;
  background-color: #2e2e2e;
  transform: translateX(100%);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (max-width: 767px) {
    .modal {
      width: 70%; } }
  @media (max-width: 575px) {
    .modal {
      width: 100%; } }

.modal__list {
  text-align: center;
  margin: 0 auto; }

.modal__links {
  color: white;
  margin: 0;
  padding: 0;
  text-align: center; }

.modal__link {
  padding: 10px;
  font-size: 20px;
  line-height: 2;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid transparent; }
  .modal__link:hover {
    border-color: #d7d1d1; }

.modal.modal--active {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.2s ease-in; }

.galery__video {
  width: 100%;
  height: 632px; }

.video__item {
  margin: auto;
  max-width: 100%;
  height: 100%;
  object-fit: cover; }

.logo {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../img/header/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  border: 2px solid; }

.icon {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../../img/icon/icon-list.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  @media (max-width: 991px) {
    .icon {
      width: 25px;
      height: 25px; } }
  @media (max-width: 767px) {
    .icon {
      width: 20px;
      height: 20px; } }
  @media (max-width: 575px) {
    .icon {
      width: 17px;
      height: 17px; } }

.social-icon {
  display: block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.social-icon_1 {
  background-image: url(/img/icon/icon-1.svg); }

.social-icon_2 {
  background-image: url(/img/icon/icon-2.svg); }

.social-icon_3 {
  background-image: url(/img/icon/icon-3.svg); }

.social-icon_4 {
  background-image: url(/img/icon/icon-4.svg); }

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

/* Links */
a, a:visited {
  text-decoration: none;
  display: block; }

a:hover {
  color: inherit;
  text-decoration: none; }

a:focus,
a:active {
  outline: none; }

/* Common */
aside, nav, footer, header, section, main {
  display: block; }

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit; }

ul {
  list-style: none; }

img, svg {
  display: block;
  height: auto; }

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit; }

input::-ms-clear {
  display: none; }

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer; }

input:focus, input:active,
button:focus, button:active {
  outline: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

label {
  cursor: pointer; }

legend {
  display: block; }

html {
  max-height: 10000000px;
  min-height: 100vh;
  /* sticky footer */
  scroll-behavior: smooth;
  font-size: 10px; }

body {
  min-height: 100vh;
  /* sticky footer */
  display: flex;
  /* sticky footer */
  flex-direction: column;
  /* sticky footer */
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body > * {
  flex-shrink: 0;
  /* sticky footer */ }

/* Grid styles */
ul {
  margin: 0;
  padding: 0;
  list-style: none; }

img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

a {
  text-decoration: none; }

/* Utility */
.none {
  display: none !important; }

.container {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 1199px) {
    .container {
      width: 900px; } }
  @media (max-width: 991px) {
    .container {
      width: 720px; } }
  @media (max-width: 767px) {
    .container {
      width: 540px; } }
  @media (max-width: 575px) {
    .container {
      width: 320px; } }

h1 {
  color: black;
  font-size: 5rem;
  font-weight: bold;
  font-style: normal;
  line-height: 1.2; }
  @media (max-width: 1199px) {
    h1 {
      font-size: 5rem;
      font-weight: bold;
      font-style: normal;
      line-height: 1.2; } }
  @media (max-width: 991px) {
    h1 {
      font-size: 4.5rem;
      font-weight: bold;
      font-style: normal;
      line-height: 1.2; } }
  @media (max-width: 767px) {
    h1 {
      font-size: 4rem;
      font-weight: bold;
      font-style: normal;
      line-height: 1.2; } }

h2 {
  color: black;
  font-size: 4rem;
  font-weight: bold;
  font-style: normal;
  line-height: 1.75; }
  @media (max-width: 991px) {
    h2 {
      font-size: 3.5rem;
      font-weight: bold;
      font-style: normal;
      line-height: 1.2; } }
  @media (max-width: 767px) {
    h2 {
      font-size: 3rem;
      font-weight: bold;
      font-style: normal;
      line-height: 1.2; } }

h3 {
  color: black;
  font-size: 2.4rem;
  font-weight: bold;
  font-style: normal;
  line-height: 1.25; }
  @media (max-width: 767px) {
    h3 {
      font-size: 2.2rem;
      font-weight: bold;
      font-style: normal;
      line-height: 1.2; } }

footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: black;
  height: 100%; }

.header {
  padding: 90px 0;
  width: 100%;
  height: 850px;
  filter: brightness(65%);
  background-image: url("../img/header/bg-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.header__row {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(245, 245, 245, 0.2);
  border-radius: 5px; }
  @media (max-width: 1199px) {
    .header__row {
      max-width: 900px; } }
  @media (max-width: 991px) {
    .header__row {
      max-width: 720px;
      margin-bottom: 70px; } }
  @media (max-width: 767px) {
    .header__row {
      max-width: 540px; } }
  @media (max-width: 575px) {
    .header__row {
      max-width: 320px; } }

.header__content {
  width: 60%;
  margin: 0; }
  @media (max-width: 767px) {
    .header__content {
      width: 80%; } }
  @media (max-width: 575px) {
    .header__content {
      width: 100%;
      text-align: center; } }

.header__title {
  margin-bottom: 73px; }
  .header__title .span {
    font-size: 5rem;
    font-weight: bold;
    font-style: normal;
    line-height: 1.2; }

.header__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  margin-bottom: 15px; }
  .header__item:last-child {
    margin-bottom: 0; }

.header__list {
  font-size: 2rem;
  font-weight: 600;
  font-style: normal;
  line-height: 1.5;
  color: black; }
  @media (max-width: 767px) {
    .header__list {
      font-size: 1.8rem;
      font-weight: 600;
      font-style: normal;
      line-height: 1.5; } }
  @media (max-width: 575px) {
    .header__list {
      font-size: 1.6rem;
      font-weight: 600;
      font-style: normal;
      line-height: 1.5; } }

.header__text {
  padding-left: 10px; }
  @media (max-width: 575px) {
    .header__text {
      padding-left: 7px; } }

.header__phone {
  margin-right: 0; }
  @media (max-width: 991px) {
    .header__phone {
      display: none; } }

.header__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px; }
  @media (max-width: 991px) {
    .header__links {
      display: none; } }

.header__link {
  color: black;
  font-size: 1.8rem;
  font-weight: bold;
  font-style: normal;
  line-height: 1.9;
  cursor: pointer; }
  .header__link:hover {
    color: #f7ae02; }

.header__modal {
  display: none; }
  @media (max-width: 991px) {
    .header__modal {
      display: block; } }

.section-contacts {
  position: relative;
  width: 100%;
  padding: 90px 0;
  background-image: url("../img/contacts/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.contacts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0;
  margin-left: auto; }
  @media (max-width: 991px) {
    .contacts {
      flex-direction: column; } }

.contact__content {
  width: 40%;
  padding: 40px; }
  @media (max-width: 991px) {
    .contact__content {
      width: 60%;
      text-align: center;
      margin-left: auto;
      margin-right: auto; } }
  @media (max-width: 575px) {
    .contact__content {
      width: 100%; } }

.contact__header {
  margin-bottom: 50px; }
  .contact__header h2 {
    color: white; }

.social {
  width: 100%;
  display: block;
  row-gap: 20px;
  color: white; }
  @media (max-width: 991px) {
    .social {
      display: flex;
      justify-content: space-between; } }

.contact__list {
  margin-bottom: 26px;
  color: white;
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.9; }

.social__link {
  width: 60%;
  text-decoration: none;
  padding: 15px 7px;
  border-bottom: 2px solid transparent;
  display: flex;
  column-gap: 25px;
  align-items: center;
  color: white;
  cursor: pointer; }
  .social__link:hover {
    border-bottom: 2px solid #d7d1d1; }
  @media (max-width: 991px) {
    .social__link {
      width: 100%;
      text-align: center; } }

.contacts__map {
  width: 60%; }
  @media (max-width: 767px) {
    .contacts__map {
      width: 100%; } }

@media (max-width: 991px) {
  .social__text {
    display: none; } }

.section-description {
  padding-top: 80px;
  padding-bottom: 100px;
  width: 100%;
  height: auto;
  background-image: url("../img/description/bg-description.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  @media (max-width: 991px) {
    .section-description {
      padding-top: 60px;
      padding-bottom: 80px; } }

.description {
  margin: 0 auto;
  padding: 50px 25px;
  width: 70%;
  align-items: center;
  background: black;
  opacity: 0.85; }
  @media (max-width: 575px) {
    .description {
      width: 100%; } }

.description__title {
  margin-bottom: 60px; }
  .description__title h2 {
    color: white; }

.description__text {
  margin-bottom: 20px;
  color: white;
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.8; }
  .description__text:last-child {
    margin-bottom: 0; }
  @media (max-width: 991px) {
    .description__text {
      margin-bottom: 30px; } }

.section-discounts {
  width: 100%;
  padding: 100px 0; }
  @media (max-width: 767px) {
    .section-discounts {
      padding: 60px 0; } }

.discounts {
  width: 100%; }

.discounts__title {
  color: black;
  margin-bottom: 60px; }
  @media (max-width: 991px) {
    .discounts__title {
      text-align: center; } }

.discounts__items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px; }
  @media (max-width: 991px) {
    .discounts__items {
      flex-direction: column;
      row-gap: 20px; } }

.discounts__item {
  margin: 0 auto;
  text-align: center;
  width: 30%; }
  @media (max-width: 991px) {
    .discounts__item {
      width: 55%; } }
  @media (max-width: 767px) {
    .discounts__item {
      width: 65%; } }
  @media (max-width: 575px) {
    .discounts__item {
      width: 100%; } }

.discounts__image {
  width: 100%;
  height: 250px;
  box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.7);
  margin-bottom: 30px; }

.discounts__name {
  color: black;
  margin-bottom: 20px; }

.discounts__text {
  padding: 15px;
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.25;
  color: black; }

.discounts__content {
  padding: 15px 20px;
  font-size: 2.5rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.25;
  text-align: center;
  color: black;
  border: 2px solid #d2d0d0; }

.footer-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  @media (max-width: 991px) {
    .footer-wrapper .logo {
      display: block;
      margin-left: auto;
      margin-right: auto; } }

.footer__links {
  display: flex;
  column-gap: 50px;
  text-decoration: none;
  list-style: none; }
  @media (max-width: 991px) {
    .footer__links {
      display: none; } }

.footer__link {
  cursor: pointer;
  color: #8f8a8a; }
  .footer__link:hover {
    color: #d7d1d1; }

.footer__contacts {
  color: #8f8a8a;
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.9; }
  @media (max-width: 991px) {
    .footer__contacts {
      display: none; } }

.section-galery {
  padding-top: 80px;
  padding-bottom: 120px;
  background: #F1F1F1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  @media (max-width: 767px) {
    .section-galery {
      padding: 60px 0; } }

.galery__title {
  margin-bottom: 53px; }

.galery__video {
  box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.7);
  height: 475px;
  margin-bottom: 39px; }

.galery__photos {
  width: 100%;
  margin-bottom: 40px; }

.galery__photo {
  width: 275px;
  height: 165px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.7); }

.section-products {
  width: 100%;
  padding: 100px 0; }
  @media (max-width: 767px) {
    .section-products {
      padding: 60px 0; } }

.products__title {
  margin-bottom: 74px; }
  @media (max-width: 991px) {
    .products__title {
      text-align: center; } }

.products-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px; }

.product {
  width: 30%;
  text-align: center; }
  @media (max-width: 991px) {
    .product {
      width: 47%; } }
  @media (max-width: 767px) {
    .product {
      margin-left: auto;
      margin-right: auto;
      width: 60%; } }
  @media (max-width: 575px) {
    .product {
      width: 100%; } }

.product__image {
  margin-bottom: 30px;
  height: 252px;
  box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.7); }

.section-questions {
  padding: 100px 0; }
  @media (max-width: 767px) {
    .section-questions {
      padding: 60px 0; } }

.questions__title {
  color: black;
  margin-bottom: 40px; }
  @media (max-width: 991px) {
    .questions__title {
      text-align: center; } }
  .questions__title .span {
    font-size: 40px; }

.section-service {
  padding: 100px 0; }
  @media (max-width: 767px) {
    .section-service {
      padding: 60px 0; } }

.service__title {
  color: black;
  margin-bottom: 55px; }
  @media (max-width: 991px) {
    .service__title {
      text-align: center; } }

.service__cards-1, .service__cards-2 {
  display: flex;
  justify-content: center;
  column-gap: 20px; }
  @media (max-width: 991px) {
    .service__cards-1, .service__cards-2 {
      flex-direction: column;
      row-gap: 50px; } }

.service__cards-1 {
  margin-bottom: 50px; }

.card {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  border: #aaa 1px solid;
  box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.7); }
  @media (max-width: 991px) {
    .card {
      width: 80%;
      margin-left: auto;
      margin-right: auto; } }
  @media (max-width: 575px) {
    .card {
      width: 100%;
      flex-direction: column-reverse; } }

.card__image {
  height: 232px;
  width: 50%;
  margin-right: 10px; }
  @media (max-width: 575px) {
    .card__image {
      width: 100%; } }

.card__content {
  text-align: left; }

.card__title {
  margin-bottom: 20px;
  color: black;
  font-size: 24px;
  font-weight: 600; }

.card__items {
  color: black;
  font-size: 1.8rem;
  font-weight: normal;
  font-style: normal;
  line-height: 2; }
  @media (max-width: 1199px) {
    .card__items {
      font-size: 1.8rem;
      font-weight: normal;
      font-style: normal;
      line-height: 1.9; } }

.card__item {
  display: flex;
  align-items: center; }
  @media (max-width: 1199px) {
    .card__item {
      align-items: flex-start; } }
  @media (max-width: 575px) {
    .card__item {
      align-items: center; } }

.card__text {
  padding-left: 5px; }

.section-reviews {
  width: 100%;
  padding: 100px 0;
  background: #ebeaea;
  background-image: url("../img/reviews/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  @media (max-width: 767px) {
    .section-reviews {
      padding: 60px 0; } }

.reviews__title {
  text-align: center;
  margin-bottom: 60px; }

.reviews {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.reviews__slider {
  padding: 30px;
  background: #ebeaea;
  position: relative;
  width: 40%;
  max-height: 40%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 30px; }
  @media (max-width: 767px) {
    .reviews__slider {
      width: 70%; } }
  @media (max-width: 575px) {
    .reviews__slider {
      width: 100%; } }

.review {
  max-width: 100%; }

.review__text {
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
  color: black;
  margin-bottom: 20px; }

.review__photo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 100px;
  /* задаете свои размеры */
  height: 100px;
  overflow: hidden;
  background: white;
  padding: 5px;
  /* создание отступов */
  border-radius: 50%;
  border: #aaa 1px solid;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.7); }

.review__name {
  font-size: 2.5rem;
  font-weight: bold;
  font-style: normal;
  line-height: 1.2;
  color: black; }

/*# sourceMappingURL=main.css.map */
