$color-text: hsl(0, 0%, 0%);
$color-accent: hsl(42, 98%, 49%);
$color-light: hsl(0, 0%, 100%);
$color-border-hover: hsl(0, 0%, 18%);
$color-dark:hsl(0, 0%, 0%);
$color-footer:hsl(0, 2%, 55%);
$color-hover:hsl(0, 7%, 83%);
$color-modal-bg:hsl(0, 0%, 18%);
$color-bg-nav:hsla(0, 0%, 96%, 0.2);
$color-bg-slider: hsl(0, 3%, 92%);
$color-shadow:hsla(0, 0%, 0%, 0.7);
$color-slider-bg:hsl(0, 3%, 92%);
